@{
    ViewData["Title"] = "Students";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success text-center mt-4">
        @TempData["Message"]
    </div>
}

<h4>List of Students</h4>
<a asp-action="Create" class="btn btn-success mb-2 mt-2">Add Student</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Gender</th>
            <th>Student Id Number</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Surname</td>
                <td>@student.Gender</td>
                <td>@student.StudentIdNumber</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@student.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

