@{
    ViewData["Title"] = "Submission";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success text-center mt-4">
        @TempData["Message"]
    </div>
}
<h4>List of Submissions</h4>

<a asp-action="Create" class="btn btn-success mt-2 mb-2">Add Submission</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Assignment</th>
            <th>Student</th>
            <th>Submission Time</th>
            <th>Score</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var submission in Model)
        {
            <tr>
                <td>@submission.Assignment.Description</td>
                <td>@submission.Student.Name @submission.Student.Surname</td>
                <td>@submission.SubmissionTime.ToString("g")</td>
                <td>@submission.Score</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@submission.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@submission.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
